.OuterContainer__Data__AdminAssignmentPost{
    margin-left: 20px;
    border: 1px solid #f2f2f2;
    height: 100%;
    flex : 0.85;
    padding: 20px;
}

.HeadRow__Data__AdminAssignmentPost{
    padding: 20px;
    height: 70px;
    font-size: 35px;
    color: brown;
    font-family: cursive;
    font-weight: bold;
}

.InnerContainer__Data__AdminAssignmentPost{
    width:400px;
    margin: auto;
    padding-top: 50px;
}

.InputFeedback{
    color: green;
    font-size: 13px;
}

.InputFeedback_red{
    color: red;
    font-size: 13px;
}